extends layout

block content
    div
        div
            h1 Configuration list
            div(class="container")
                div(class="row")
                    div(class="col-xs-1")
                        span Player Id
                    div(class="col-xs-1")
                        span Min price
                    div(class="col-xs-1")
                        span Max price
                    div(class="col-xs-2")
                        span Max buy price
                    div(class="col-xs-1")
                        span Is rare
                    div(class="col-xs-1")
                        span Level
                    div(class="col-xs-1") 
                        span League
                    div(class="col-xs-1")
                        span Team
                    div(class="col-xs-1")
                        span Position

                each item in configurations
                    div(class="row")
                        div(class="col-xs-1")
                            span #{item.playerid}
                        div(class="col-xs-1")
                            span #{item.minprice}
                        div(class="col-xs-1")
                            span #{item.maxprice}
                        div(class="col-xs-2")
                            span #{item.buynowprice}
                        div(class="col-xs-1")
                            span #{item.isRare}
                        div(class="col-xs-1")
                            span #{item.level}
                        div(class="col-xs-1")
                            span #{item.league}
                        div(class="col-xs-1")
                            span #{item.teamid}
                        div(class="col-xs-1")
                            span #{item.position}            
            
        div
            h1 Add Configuration

            form#addConfiguration(action="configurations/add", method="post")
                div
                    input#playerid(type="text", placeholder="player id", name="playerid" value=playerid)
                div
                    input#minprice(type="text", placeholder="min price", name="minprice" value=minprice)
                    input#maxprice(type="text", placeholder="max price", name="maxprice" value=maxprice)
                    input#buynowprice(type="text", placeholder="max buy price", name="buynowprice" value=buynowprice)

                div
                    div
                    input(type="checkbox" value=isRare)
                    label Is Rare

                    select(name="level")
                        - repeation = [ 'gold', 'silver', 'bronze', 'special']
                        option(value='') Any
                        each item in repeation
                            option(value=item) #{item}

                    select(name="league")
                        - repeation = [ {text: 'Any', value: ''}, {text: 'Premier League', value: '13'}, {text: 'Bundesliga', value: '19'}]
                        each item in repeation
                            option(value=item.value) #{item.text}

                    input#teamId(type="text", placeholder="team id", name="teamid")

                    select(name="position")
                        - repeation = [ 'GK', 'RWB', 'RB', 'CB', 'LB', 'LWB', 'CDM', 'RM', 'CM', 'LM', 'CAM', 'RF', 'CF', 'LF', 'ST', 'RW', 'LW'], 
                        option(value='') Any
                        each item in repeation
                            option(value=item) #{item}
                            
                    select(name="zone")
                        - repeation = [ 'defence', 'midfield', 'attacker'], 
                        option(value='') Any
                        each item in repeation
                            option(value=item) #{item}

                button#addNewConfiguration(type="submit") Add New Configuration