extends layout

block content
  div
      form#formAddUser(name="login", method="post", action="login")
        input#intPassCode(type="text", placeholder="login pass code", name="passcode")
        button#btnSubmit(type="submit") login


      //-   h1 Credits #{credits}
      //- form#getCredits(name="credits", method="post", action="getCredits")
      //-   button#btnSubmit(type="submit") get credits

      section
        h1 Process Players
        form#getCredits(name="player", method="post", action="processcriteria")
          div
            input#playerid(type="text", placeholder="player id", name="playerid" value=playerid)
          div
            input#minprice(type="text", placeholder="min price", name="minprice" value=minprice)
            input#maxprice(type="text", placeholder="max price", name="maxprice" value=maxprice)
            input#maxbuyprice(type="text", placeholder="max buy price", name="maxbuy" value=maxbuy)

          div
            div
              input#isRare(type="checkbox", value=isRare, name="isRare")
              label Is Rare

            select(name="level")
              - repeation = [ 'gold', 'silver', 'bronze', 'special']
              option(value='') Any
              each item in repeation
                option(value=item) #{item}

            select(name="league")
              - repeation = [ {text: 'Any', value: ''}, {text: 'Premier League', value: '13'}, {text: 'Bundesliga', value: '19'}, {text: 'Calcio A', value: '31'}, {text: "Pro League", value: '4'}, {text: 'League 1', value: '16'}]
              each item in repeation
                option(value=item.value) #{item.text}
            
            input#teamid(type="text", placeholder="team id", name="teamid" value=teamid)

            select(name="position")
              - repeation = [ 'Defenders', 'Midfielders', 'Attackers', 'GK', 'RWB', 'RB', 'CB', 'LB', 'LWB', 'CDM', 'RM', 'CM', 'LM', 'CAM', 'RF', 'CF', 'LF', 'ST', 'RW', 'LW'], 
              option(value='') Any
              each item in repeation
                option(value=item) #{item}

             select(name="zone")
              - repeation = [ 'defence', 'midfield', 'attacker'], 
              option(value='') Any
              each item in repeation
                option(value=item) #{item}    
            
            


          button#btnSubmit(type="submit") get player

      h1 Watch List       
      form#watchList(name="player", method="post", action="getWatchList")
        button#btnSubmit(type="submit") get player